In [29]:
#1. Reading the CSV File:

#- Load the provided CSV file into a pandas DataFrame.
import pandas as pd
acc_players_df = pd.read_csv('acc_players-2324F.csv', header=1)
#- Display the first 5 rows of the DataFrame to understand the structure of the data.
display(acc_players_df.head(5))

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
0,1,Amaree Abram,SO,G,Georgia Tech,10,108,17,11,1,...,9,10,34,0.262,0.318,0.200,0.615,4.1,-0.1,-6.4
1,2,Sola Adebisi,FR,F,Florida State,7,9,1,1,0,...,1,1,2,0.500,0.500,NaN,NaN,3.5,0.0,-6.7
2,3,Prince Aligbe,SO,F,Boston College,35,651,119,21,15,...,30,51,164,0.435,0.522,0.147,0.620,9.4,0.9,-1.3
3,4,Abe Atiyeh,SR,G,Boston College,4,6,0,0,0,...,1,0,3,0.333,0.000,1.000,NaN,1.1,0.0,-8.2
4,5,Zack Austin,JR,F,Pittsburgh,33,746,137,29,32,...,13,35,216,0.417,0.563,0.295,0.737,18.0,2.9,7.9

In [139]:
#2. Basic Analysis:
#- Calculate the total points scored by all players combined.
total_points = acc_players_df[['PTS']].sum()
print("Total points scored by all players:")
print(total_points)

Total points scored by all players:
PTS    38411
dtype: int64

In [37]:
#- Find the player who has played the most minutes (MP).
most_minutes = acc_players_df[['Player', 'MP']].max()
print (most_minutes)

Player    Zayden High
MP               1333
dtype: object

In [41]:
#- Identify the top 5 players in terms of total rebounds (TRB).
top_5_rebounds = acc_players_df[['Player','TRB']].sort_values(by='TRB',ascending=False).head(5)
print(top_5_rebounds)

              Player  TRB
5      Armando Bacot  380
178  Ian Schieffelin  340
90   Harrison Ingram  327
44    Mohamed Diarra  311
149    Norchad Omier  309

In [135]:
#3. Player Filtering:
#- Create a new DataFrame containing only players who played more than 500 minutes.
plus_500_players_df = acc_players_df[(acc_players_df['MP'] > 500)]
display(plus_500_players_df)

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
2,3,Prince Aligbe,SO,F,Boston College,35,651,119,21,15,...,30,51,164,0.435,0.522,0.147,0.620,9.4,0.9,-1.3
4,5,Zack Austin,JR,F,Pittsburgh,33,746,137,29,32,...,13,35,216,0.417,0.563,0.295,0.737,18.0,2.9,7.9
5,6,Armando Bacot,SR,F,North Carolina,37,1123,380,56,22,...,60,100,538,0.540,0.544,0.400,0.781,24.6,6.1,8.9
7,8,Reece Beekman,SR,G,Virginia,34,1114,124,212,68,...,70,43,486,0.443,0.487,0.310,0.754,23.4,4.9,10.5
9,10,Chris Bell,SO,F,Syracuse,32,865,75,21,18,...,26,58,384,0.434,0.459,0.420,0.842,14.9,2.2,3.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,204,Jamir Watkins,JR,F,Florida State,33,928,199,91,64,...,84,92,514,0.457,0.500,0.344,0.795,24.2,3.9,9.1
206,207,Tre White,SO,G,Louisville,29,907,170,39,24,...,53,66,357,0.456,0.515,0.299,0.752,15.0,1.7,1.8
207,208,Chauncey Wiggins,SO,F,Clemson,36,639,76,33,6,...,26,46,196,0.442,0.528,0.349,0.714,11.0,1.2,1.9
209,210,Curtis Williams,FR,G,Louisville,32,564,42,20,12,...,26,24,170,0.317,0.373,0.287,0.714,5.9,-0.2,-3.8
215,216,Jaeden Zackery,JR,G,Boston College,36,1216,119,152,63,...,71,78,408,0.484,0.511,0.405,0.824,16.4,3.7,3.5

In [63]:
#- From this filtered DataFrame, determine the player with the highest total assists (AST).
most_assists = plus_500_players_df[['Player', 'AST']].max()
print(most_assists)

Player    Zack Austin
AST               212
dtype: object

In [65]:
#- Who are the top 3 Assist Leads in the League?
assist_leads = acc_players_df[['Player','AST']].sort_values(by='AST',ascending=False).head(3)
print(assist_leads)

             Player  AST
7     Reece Beekman  212
215  Jaeden Zackery  152
21    Elliot Cadeau  150

In [67]:
#- Who are the top 3 Shot Blockers?
top_blockers = acc_players_df[['Player','BLK']].sort_values(by='BLK',ascending=False).head(3)
print(top_blockers)

            Player  BLK
51       Ryan Dunn   77
157   Quinten Post   61
5    Armando Bacot   56

In [97]:
#4. School-Based Analysis:
#- Group the players by School and calculate the total points scored by each school.
pts_by_school = acc_players_df.groupby('School')[['School','PTS']].sum('PTS')
print(pts_by_school)

                 PTS
School
Boston College  2667
Clemson         2785
Duke            2830
Florida State   2526
Georgia Tech    2272
Louisville      2304
Miami (FL)      2424
NC State        3101
North Carolina  3032
Notre Dame      2113
Pittsburgh      2495
Syracuse        2442
Virginia        2140
Virginia Tech   2547
Wake Forest     2733

In [131]:
#- Group the players by School and calculate the total assists (AST) for each team.
assists_by_team = acc_players_df.groupby('School')[['School','AST']].sum('AST')
print(assists_by_team)

                AST
School
Boston College  509
Clemson         533
Duke            551
Florida State   406
Georgia Tech    425
Louisville      356
Miami (FL)      454
NC State        536
North Carolina  536
Notre Dame      335
Pittsburgh      452
Syracuse        442
Virginia        509
Virginia Tech   514
Wake Forest     429

In [133]:
#- Sort the schools by total points scored and display the top 3 schools.
top_schools = acc_players_df.groupby('School')[['School', 'PTS']].sum('PTS')
top_schools = top_schools.reset_index()
top_schools = top_schools.sort_values(by='PTS',ascending=False).head(3)
display(top_schools)

           School   PTS
7        NC State  3101
8  North Carolina  3032
2            Duke  2830